<h2>Page</h2>

<div><%= @document.title %></div>
<div><%= @document.body %></div>
<div><%= @document.published_at.to_s %></div>
<div><%= time_ago_in_words @document.published_at %></div>
<div><%= @document.author.name %></div>
<% if @document.image.exists? %>
<div>
  <img src="<%= @document.image.url %>" alt="" />
</div>
<% else %>
<!-- No image -->
<% end %>

<hr />



<h3>Archive</h3>

<%= render :partial => 'pages/shared/archive', :locals => { :skip_empty_months => true, :document => @document.parent } %>



<h3>Related Pages</h3>
<%= render :partial => 'pages/shared/related_pages' %>


<!-- Default Template Generated 06/10/2010 23:00 -->
<!-- By Kris Leech -->
