<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td  width="150"><span>Title</span></td><td><span><%= f.text_field :title %></span></td>
		<td></td><td></td>
    </tr>
  <tr>
    <td width="150"><span>State</span></td><td><span><%= f.select :state, [['Published','published'], ['Draft', 'draft']] %></span></td>
    <td width="150"><span>Published</span></td><td><span><%= f.date_select :published_at, :order => [:day, :month, :year] %></span></td>
  </tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0">
  <tr class="heading">
    <td colspan="2"><span>Body</span></td>
  </tr>
  <tr>
    <td colspan="2"><%= javascript_include_tag :fckeditor 	%>
    <span><%= fckeditor_textarea("document", "body", :toolbarSet => 'Simple', :width => '889', :height => '400px') %></span></td>
  </tr>
  <tr>
    <td width="150"><span>Summary</span></td><td><span><%= f.text_field :summary %>  &nbsp;This will be generated automatically if left blank</span></td>
  </tr>
	</table>
	<table cellpadding="0" cellspacing="0" border="0">
	<tr class="heading"><td colspan="2"><span>Image</span></td></tr>
 
  <tr>
    <td width="150"><span>URL</span></td><td><span><%= f.text_field :url %></span></td>
    </tr>
  <tr>

    <td width="150"><span>Image</span></td>
    <td><span> <%= f.file_field :resource %></span></td><td><span><%= render :partial => 'admin/documents/shared/resource_link' %></span></td>
		<td width="100">
      <% if @document.resource.exists? %>
        <span>Delete image <%= f.check_box :delete_resource %></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td width="150"><span>Image Description</span></td>
    <td colspan="4"><span><%= f.text_field :resource_description %></span></td>
  </tr>
 	</table>


<%= f.hidden_field :parent_id %>
<%= f.hidden_field :label %>
<%= f.hidden_field :meta_definition_id %><% content_for :debug_info do %>
  VIEW:<%= __FILE__ %><br>
<% end %>
