


<h1><%= @document.title %></h1>

<div><%= textilize @document.summary %></div>

<% @document.meta_definition.children.each do |md| %>
<div class="hold">
<h2>&nbsp;</h2>
  <% unless md.documents.empty? %>
    <table cellpadding="0" cellspacing="0" border="0">
		<tr class="heading"><td colspan="8"><%= md.label.titleize.pluralize.capitalize %></td></tr>
      <tr class="heading">
        <% md.field_map.each do |k,v| %>
          <td><%= k.titleize %></td>
        <% end %>
        <td>Title</td>
        <td>State</td>
        <td>Author</td>
      
          <% if md.record_hits? %>
            <td>Hits</td>
          <% end %>
      		<td></td>
      		<td></td>
      		<td></td>
      		<td></td>
				
      </tr>
      <% documents = @document.children.by_label(md.label).order_by(md.sort_by).paginate(:per_page => 20, :page => params["#{md.label}_page".to_sym]) %>
      <% documents.each do |page| %>
        <tr>
          <% md.field_map.each do |k,v| %>
            <td><%= page.send(v) %></td>
          <% end %>
          <td><%= truncate(page.title, :length => 40) %></td>
          <td width="140">
            <% form_for page.becomes(Document), :url => admin_document_path(page.id) do |f| %>
              <%= f.select :state, [['Published','published'], ['Draft', 'draft'], ['Pending', 'pending']], :class => 'pending' %>
              <%= f.submit 'Update' %>
            <% end %>
          </td>
          <td width="120"><%= page.author.name %></td>
          
          <% if md.record_hits? %>
            <td><%= page.hits %></td>
          <% end %>
          <td width="72"><%= link_to 'Edit', edit_admin_document_path(page.id), :class => 'button edit' %></td>
          <td width="105"><%= link_to 'Open Sub Pages', admin_document_path(page.id), :class => 'button' %></td>
          <% if md.sort_by == 'position ASC' %>
            <td width="111">
              <%= link_to 'Up', up_admin_document_path(page.id), :class => 'button up' unless page.first?  %>
              <%= link_to 'Down', down_admin_document_path(page.id), :class => 'button down' unless page.last?  %>
            </td>
          <% end %>
          <td width="88">
            <% unless page.system? %>
              <%= link_to 'Delete Item <b>X</b>', admin_document_path(page.id), :method => 'delete', :confirm => 'Are you sure?', :class => 'button delete' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate documents, :param_name => "#{md.label}_page".to_sym %>
  <% else %>
<h2>There are no <%= md.label.titleize.pluralize %> yet!</h2>
  <% end %>
  <h2 class="new"><%= link_to 'New', new_admin_document_path + '?parent=' + @document.id.to_s + '&label=' + md.label, :class => 'button new' %></h2>
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<tr class="heading"><td colspan="6">Order Items</td></tr>
  <% form_for md, :url => admin_meta_definition_path(md.id) do | f | %>
	<td>&nbsp;</td>
    <td width="75">Order by</td><td width="120"> <%= f.select :sort_by, sort_by_options, :include_blank => true %></td>
    <td width="75">Per page</td><td width="100"> <%= f.select :per_page, per_page_options, :include_blank => true %></td>
		<td width="86">
    <input type="hidden" name="document_id" value ="<%= @document.id %>" />
    <%= f.submit 'Update Item List' %>
		</td>
</tr>
</table>
  <% end %>
	</div>
<% end %>




