<h2>Website pages <%= link_to 'Add New Page', new_admin_document_path + '?label_path=page', :class => 'button' %></h2>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>    
    <td class="heading" colspan="7">Title</td>

  </tr>
  <% @documents.each do |document| %>
    <tr>
      <td>
        <%= document.title %>
      </td>
      <td width="72"><a href="<%= edit_admin_document_path(document.id) %>" class="button edit">Edit Page</a></td>
      <td width="105"><a href="<%= admin_document_path(document.id) %>" class="button">Open Sub pages</a> </td>
      <td width="40"><a href="<%= new_admin_document_path + '?parent_id=' + document.id.to_s %>" class="button">Add</a></td>
      <td width="111">
        <%= link_to 'Up', up_admin_document_path(document.id), :class => 'button up' unless document.first?  %>
        <%= link_to 'Down', down_admin_document_path(document.id), :class => 'button down' unless document.last?  %>
      </td>
      <td width="61"><a href="<%= document_path(document) %>" class="button liveweb">Live view</a></td>
      <td width="88"><%= link_to 'Delete Page <b>X</b>', admin_document_path(document.id), :method => 'Delete Page', :class => 'button delete' %></td>
    </tr>
  <% end %>
</table>




