<h2>Website pages <%= link_to 'Add New Page', new_admin_document_path + '?label_path=page', :class => 'button' %></h2>

<table cellpadding="0" cellspacing="0" border="0">
  <tr class="heading">    
    <td class="heading" colspan="7">Title</td>
  </tr>
  <% @documents.each do |document| %>
    <tr>
      <td width="370">
        <span><%= document.title %></span>
      </td>
      <td width="72"><a href="<%= edit_admin_document_path(document.id) %>" class="button edit">Edit Page</a></td>
      <% if document.can_have_children? %>
        <td width="75"><a href="<%= admin_document_path(document.id) %>" class="button">Sub pages</a> </td>     
      <% else %>
        <!-- no sub pages --> <td width="75">&nbsp;</td>
      <% end %>
      <td width="122">
        <%= link_to 'Up', up_admin_document_path(document.id), :class => 'button up' unless document.first?  %>
        <%= link_to 'Down', down_admin_document_path(document.id), :class => 'button down' unless document.last?  %>
      </td>
      <td width="60"><a href="<%= document_path(document) %>" class="button liveweb">Live</a></td>
    </tr>
  <% end %>
</table>
