<table>
<tr><td width="150"><span><%= f.label :first_name %></span></td><td><span><%= f.text_field :first_name %></span></td></tr>
<tr><td width="150"><span><%= f.label :last_name %></span></td><td><span><%= f.text_field :last_name %></span></td></tr>

<tr><td width="150"><span><%= f.label :email %></span></td><td><span><%= f.text_field :email %></span></td></tr>

<tr><td width="150"><span><%= f.label :password, f.object.new_record? ? nil : "Change password" %></span></td><td><span><%= f.password_field :password %></span></td></tr>

<tr><td width="150"><span><%= f.label :password_confirmation %></span></td><td><span><%= f.password_field :password_confirmation %></span></td></tr>
<tr>
<% %w(admin basic).each do | role | %>
 <td><span><%= role.capitalize %> <input name="user[roles][]" type="checkbox" value="<%= role %>" <%= "checked='checked'" if @user.has_role? role  %> /> </span></td>
<% end %>
</tr>
</table>